{% extends "designer_index.html" %}
{% block body %}

<body>
<h1 align="center">UPLOAD PREVIOUS WORK</h1>
<form action="/myapp/designer_manage_workspost/" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-bordered">
      <tr>
      <td width="150px">Title</td>
      <td><input type="text" name="textfield2" id="textfield" required class="form-control" /></td>
    </tr>
    <tr>
      <td>Work_details</td>
      <td><textarea name="textfield" class="form-control" required></textarea></td>
    </tr>
    <tr>
      <td>File</td>
      <td><input type="file" name="fileField" id="fileField"  required class="form-control"/></td>
    </tr>
    <tr>
      <td ></td>
        <td>
        <input type="submit" name="button" id="button" value="Upload" class="btn btn-success" />
      </td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
