{% extends "designer_index.html" %}
{% block body %}

<body>
<h1 align="center">VIEW PROFILE</h1>
<form id="form1" name="form1" method="get" action="/myapp/edit_profile_designer/">
  <div align="center">
    <table class="table table-bordered">
      <tr>
         <td colspan="2"><img src="{{ res.image }}" width="150px" height="150px" /></td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ res.name }}&nbsp;</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{ res.gender }}&nbsp;</td>
      </tr>
      <tr>
        <td>Dob</td>
        <td>{{ res.dob }}&nbsp;</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ res.email }}&nbsp;</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>&nbsp;{{ res.phone }}</td>
      </tr>
      <tr>
        <td>Experience</td>
        <td>&nbsp;{{ res.experience }}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{ res.house_name }}<br>
            {{ res.pincode }}&nbsp;</td>
      </tr>
         <tr>
        <td colspan="2">&nbsp;<input type="submit" value="EDIT"> </td>
      </tr>
    </table>
  </div>
</form>
</body>
{% endblock %}
