<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="318" border="1">
      <tr>
        <td width="174"><img src="../Admin architect/image.jpg" width="50" height="100" /></td>
        <td width="128">&nbsp;</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Dob</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Experience</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="button" id="button" value="Edit" />
        </div></td>
      </tr>
    </table>
  </div>
</form>
</body>
</html>
