{% extends "architectureindex.html" %}
{% block body %}
<form action="/myapp/arc_edit_plan_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table class="table table-bordered">
    <tr>
      <td width="150px">Plan Name</td>
      <td><input type="text" name="planname" required class="form-control" value="{{ data.plan_name }}"/></td>
    </tr>
    <tr>
      <td>Total Squarefeet</td>
      <td><input type="text" name="totalsquarefeet" required class="form-control" value="{{ data.squarefeet }}"/></td>
    </tr>
      <tr>
      <td>Total Budget</td>
      <td><input type="text" name="totalbudget" required class="form-control" value="{{ data.amount }}"/></td>
    </tr>

    <tr>
      <td>Choose File</td>
      <td><img src="{{ data.file }}" height="100" width="100"><br>
          <input type="file" name="fileField" id="fileField" class="form-control" /></td>
    </tr>

      <tr>
          <td>Description</td>
          <td>
              <textarea rows="5" cols="150" name="description" class="form-control">{{ data.description }}</textarea>
          </td>
      </tr>


    <tr>
      <td></td>
      <td>  <input type="submit" name="button" id="button" value="UPLOAD" class="btn btn-success" /></td>
    </tr>
  </table>
</form>

{% endblock %}
