{% extends 'architectureindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Image</th>
      <th>PlanName</th>
      <th>TotalSquareFeet</th>
      <th>Amount</th>
      <th>Description</th>
      <th>&nbsp;</th>
      <th></th>
    </tr>

      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td><img src="{{ i.file }}" height="100" width="100"/></td>
      <td>{{ i.plan_name }}</td>
      <td>{{ i.squarefeet }}</td>
      <td>{{ i.amount }}</td>
      <td>{{ i.description }}</td>
      <td width="50px"><a href="/myapp/arc_viewplan_edit/{{ i.pk }}">Edit</a></td>
      <td width="50px"><a href="/myapp/arc_viewplan_delete/{{ i.pk }}">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
