{% extends "architectureindex.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/myapp/arc_view_profile/">
  <table class="table" align="center">
    <tr>
      <td colspan="2"><img src="{{ data.image }}" width="150px" height="150px" /></td>
    </tr>
    <tr>
      <td width="150px">Name</td>
      <td>{{ data.name }}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{ data.gender }}&nbsp;</td>
    </tr>
    <tr>
      <td>Dob</td>
      <td>&nbsp;{{ data.dob }}</td>
    </tr>
    <tr>
      <td>Phone</td>
      <td>&nbsp;{{data.phone}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>&nbsp;{{  data.email}}</td>
    </tr>
    <tr>
      <td>Experience</td>
      <td>&nbsp;{{data.experience}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>&nbsp;{{data.house_name}}<br>{{ data.district }}<br>{{ data.pincode }}</td>
    </tr>
    <tr>
        <td></td>
      <td><input type="submit" name="button" id="button" value="Edit" class="btn btn-info" /></td>
    </tr>
  </table>
</form>
{% endblock %}