<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" align="center">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Image</th>
      <th>PlanName</th>
      <th>TotalSquareFeet</th>
      <th>Amount</th>
      <th>Description</th>
      <th>&nbsp;</th>
      <th></th>
    </tr>

      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.date }}</td>
      <td><img src="{{ i.file }}" height="100" width="100"/></td>
      <td>{{ i.plan_name }}</td>
      <td>{{ i.squarefeet }}</td>
      <td>{{ i.amount }}</td>
      <td>{{ i.description }}</td>
      <td width="50px"><a href="/myapp/arc_viewplan_edit/{{ i.pk }}">Edit</a></td>
      <td width="50px"><a href="/myapp/arc_viewplan_delete/{{ i.pk }}">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
