{% extends "admin_index.html" %}
{% block body %}
{#<p><a href="/myapp/adm_rgstr_regisrer/">Register Employees</a></p>#}

    <div class="row">

    <div class="col-lg-5">
        <h1>Welcome Admin</h1>
        <p>
        </p>

    </div>
       <div class="col-lg-7"><img src="/static/builders-png.png" width="600px"/></div>

    </div>

{#    <p style="font-size: 19px">#}
{#    AK Properties & Builders is a renowned and widely trusted property Consultancy, builder and development company involved in mega protects in Islamabad. We are a reputed service providers customers functional & aesthetically pleasing apartments, complemented by customers, We always try to be innovative with the use of technology along with a wholesome of essential amenities.#}
{#    </p>#}

{% endblock %}
