
{% extends "admin_index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
    <td>Type</td>
    <td><select name=""></select></td>
    <td><input name="" type="button" value="SEARCH" /></td>
    </tr>
  </table>
    <table border="1">
    <tr>
      <th>Sl_no</td>
      <th>Name</td>
      <th>Experience</td>
      <th>Phone</td>
      <th>Email</td>
      <th>Image</td>
      <th>Rating</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">View_More</a></td>
    </tr>
  </table>
</form>
{% endblock %}
