{% extends "admin_index.html" %}
{% block body %}

<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
        <th>#</th>
      <th>Shop name</th>
      <th>Owner name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>

    </tr>

      {% for i in data %}
    <tr>
      <td width="50px">{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.shop_name }}</td>
      <td>{{ i.ownername }}</td>
      <td>{{ i.city }} <br> {{ i.district }} <br> {{ i.state }}&nbsp;</td>
      <td>{{ i.email }}&nbsp;</td>
      <td>{{ i.phone }}&nbsp;</td>
      <td>{{ i.latitide }}&nbsp;</td>
      <td>{{ i.longitude }}&nbsp;</td>
      <td width="50px"><a href="#" class="btn btn-info">Edit</a> </td>
      <td width="50px"><a href="#" class="btn btn-danger">Delete</a></td>

    </tr>
      {% endfor %}
  </table>
</form>

{% endblock %}
