{% extends "admin_index.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
<tr>
  <td><table width="200" border="1">
    <tr>
      <td><strong>From Date</strong></td>
      <td><select name="select" id="select">
      </select></td>
      <td><strong>To Date</strong></td>
      <td><select name="select2" id="select2">
      </select></td>
      <td><input type="submit" name="button" id="button" value="SEARCH" /></td>
    </tr>
  </table>
    <table width="200" border="1">
      <tr>
        <td>Sl_no</td>
        <td>Date</td>
        <td>Complaint</td>
        <td>User_info</td>
        <td>&nbsp;</td>
      </tr>
        {% for i in res %}
      <tr>
        <td>&nbsp;{{ forloop.counter }}</td>
        <td>{{ i.date }}&nbsp;</td>
        <td>{{ i.complaints }}&nbsp;</td>
        <td>{{ i.CUSTOMER.name }}<br>{{ i.CUSTOMER.phone }}&nbsp;</td>
        <td><a href="/myapp/reply/{{ i.pk }}">Reply</a></td>
      </tr>
        {% endfor %}
    </table>
    <p>&nbsp;</p></td>
</tr>
</form>

</body>
{% endblock %}
