{% extends "admin_index.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
<table class="table table-bordered">
  <tr>
      <td><strong>Sl_no</strong></td>
    <td><strong>Name</strong></td>
    <td><strong>Experience</strong></td>
    <td><strong>Dob</strong></td>
    <td><strong>Email</strong></td>
    <td><strong>Phone</strong></td>

    <td><strong>image</strong></td>
    <td><strong>Address</strong></td>
      <td colspan="2">Action</td>

  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.name }}</td>
    <td>{{ i.experience }}</td>
    <td>{{ i.dob}}</td>
    <td>{{ i.email }}&nbsp;</td>
    <td>{{ i.phone }}&nbsp;</td>
    <td><img src="{{ i.image }}" height="100" width="100"/> </td>
      <td>{{i.house_name}}<br>
      {{ i.district }}<br>
      {{ i.pincode }}<br></td>

<td><a href="/myapp/adm_employee_edit/{{ i.pk }}" class="btn btn-success">Edit</a></td>
    <td><a href="/myapp/adm_employee_del/{{ i.pk }}" class="btn btn-danger">Delete</a></td>
  </tr>
    {% endfor %}
</table>

</form>

{% endblock %}